<style>




@media(max-width: 1500px){
section, aside{
width: 100%;
height: auto;
}
}


body
{
	width:1300px; height:1000px;
	margin: 0 auto;
	font-family: "setofont","微軟正黑體","Microsoft JhengHei";
}
h2
{
	text-align: center;
	column-span:all;
	font-size: 40px;
}
p
{
	font-size: 40px;
}

header
{
	background-color:#f9fbba;
	height: 100px;

}

img.logo
{
	position: absolute;
	z-index: 1;
	width: 300px;
	height: 180px;
	margin-left: -30px;
	margin-top: -35px; 
}
nav{
background-color: #fae3d9;
text-align: right;
padding: 10px;
font-size: 30px;
}
nav ul{
display: inline-block;
margin: 0px;

}
nav li{
list-style-type: none;
float: left;
}
nav li a{
padding: 20px 20px 0px 20px;
color: #1F384C;
text-decoration: none;
}

nav li a:hover/*按鈕*/
{
	color:white;
	text-decoration:underline;
}
.banner img
{
	width:1300px;
	height: 300px;
}
/*照片*/

div.photo
{
	width:1280px;
	background-color: #f9fbba;
	height: 650px;
	padding: 0px 10px 0px 10px;
	-webkit-column-count: 2;
}
img.pic
{
	border: 1px solid #dd1;
	border-radius: 5px;
	padding:5px;
	width:250px;height: 200px;
	margin:20px 5px 10px 5px;
	transition: all 0.5s ease-out;
}
img.pic:hover
{
	box-shadow: 0px 0px 5px 3px; 
	transform:scale(1.1,1.1);
}
/*聯絡資訊*/
aside
{
	float: right;
	width: 70%;
	height: 300px;
	background-color: #fae3d9;

}
.phone
{
	background-color:#e2f2d5;
	height:600px;
}

section
{
	background-color:#fae3d9;
	height: 300px;
	float: left;
	width: 30%;
}
.club
{
	background-color: #d4edf4;	
	//margin:0;
	//padding:0;
	//box-sizing:border-box;
	//font-family:'Poppins',sans-serif;

	//display:flex;
	//justify-content:center;
	//align-items:center;
	

}
.club2
{
	background-color: #d4edf4;
	text-align:center;
	height:100px;
}


.container
{
	//position:relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 1300px;

}
.container .box
{
	//position:relative;
	width: 300px;
	height: 400px;
	overflow: hidden;
}
.container .box .imgBx
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	transition:1.5s ease-in-out;
}
 .container .box:hover .imgBx
 {
 	transform:translateY(-100%);
 }


#gototop 
{
	position: fixed;
	font-size: 50px;
	bottom: 10px;
	right: 10px;
	outline: none;
	background-color: pink;
	color: #7f87f6;
	padding: 20px;
	border-radius: 50%;

	//transition: all 1s ease-out;
}
footer
{
	background-color: #fae3d9;	
	color: black;
	padding:30px ;
	text-align: center;
	font-size: 20px;
}